---
layout: default
id: region
title: Lieblingsregion
nav: true
nav-order: 6
nav-title: Ihre Lieblingsregion
banner:
  title: Lieblingsregion
  title-sub: Finden Sie Ihre

extra-js: true
extra-css: true

game-results:

  - id: algarve
    title: Algarve
    description: Algarve description lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, aut. Nihil qui recusandae a esse consectetur eius, necessitatibus tempora, earum ipsa quibusdam modi aliquid explicabo iste ratione, laborum veniam ipsum!

  - id: centro
    title: Centro
    description: Centro description lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, aut. Nihil qui recusandae a esse consectetur eius, necessitatibus tempora, earum ipsa quibusdam modi aliquid explicabo iste ratione, laborum veniam ipsum!

  - id: madeira
    title: Madeira
    description: Madeira description lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, aut. Nihil qui recusandae a esse consectetur eius, necessitatibus tempora, earum ipsa quibusdam modi aliquid explicabo iste ratione, laborum veniam ipsum!

  - id: azoren
    title: Azoren
    description: Azoren description lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, aut. Nihil qui recusandae a esse consectetur eius, necessitatibus tempora, earum ipsa quibusdam modi aliquid explicabo iste ratione, laborum veniam ipsum!
---

<div class="vpad--xl" style="background-color:#191919;">
  <div class="game">
    <div class="container">

      <div class="game__category width width--xl">
        <div class="vpad--lg text--center text--white">
          <!-- game title - find region -->
          <div class="core-title core-title--xl">Finden Sie Ihre Lieblingsregion</div>
          <div class="space--sm"></div>
          <div class="width width--lg">
            <!-- game instruction - what you should do -->
            <p class="text--xxl text--normal">Wählen Sie Ihre 5 Favoriten, indem Sie auf die entsprechenden Bilder klicken und erhalten Sie Ihren ganz persönlichen Geheimtipp.</p>
          </div>
        </div>

        <div class="row row--constant-6-6 row--lg-3-3-3-3 js-game__category-list"></div>
        <div class="space--xl"></div>
        <div class="text--center">
          <a class="btn btn--orange btn--large js-game__category-submit">Submit Choice</a>
        </div>
      </div>

      <div class="game__result">
        {% for result in page.game-results %}
        <div class="result js-result-{{result.id}}">

          <div class="text--white text--center">
            <div class="space--xxl"></div>
            <div class="core-sub-title">Your favourite region is...</div>
            <div class="space--sm"></div>
            <h3 class="core-title core-title--xxxl">{{result.title}}</h3>
            <p class="text--xxl text--normal width width--xl">{{result.description}}</p>
          </div>

          <div class="vpad--xl">
            <div class="row row--4-4-4">
              <div class="col">
                <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/game/{{result.id}}/01.jpg');"></div>
              </div>
              <div class="col">
                <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/game/{{result.id}}/02.jpg');"></div>
              </div>
              <div class="col">
                <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/game/{{result.id}}/03.jpg');"></div>
              </div>
            </div>
          </div>

          {% assign result-offer = site.data.offers | where: "game-category", result.id %}
          {% if result-offer.size > 0 %}
            <div>
              <div class="text--center text--white">
                <h4 class="core-title core-title--lg">Latest {{result.title}} Offers</h4>
                <div class="space--lg"></div>
              </div>
              <div class="row row--6-6">

                {% for offer in result-offer %}
                  <div class="col">
                    {% include offer/offer.html %}
                  </div>
                {% endfor %}
              </div>
              <div class="space--xl"></div>
            </div>
          {% endif %}

          <div class="text--center">
            <a href="{{site.baseurl}}/angebote" class="btn btn--orange">See All Offers</a>
          </div>

        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  <div class="space--xxl"></div>
</div>