
/*********  intro **********/
.pt-intro-bg{
  background-image:url(../img/graphics/tiles.png);
  background-size:158px;
  background-color: #fff;
}

@media only screen and (max-width: 970px) {
  .pt-intro-bg{
    background-size:120px;

  }
}
@media only screen and (max-width: 600px) {
  .pt-intro-bg{
    background-size:100px;

  }
}


/******* hide*******/
.pt-hidden{
  display: none;
}
.pt-show{
  display: block;
}

/**********box shadow*********/
.pt-box-shadow{

      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}


/*********** Categories Colours *********/

.pt-hpad-sm{

  padding-left: 22px;
  padding-right: 22px;
}


.pt-nature{
  background-color: #4cb379;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.pt-nature-font{
  color: #299056;
  }

.pt-nature-pin{
    background-color: #299056;
    }



.pt-pleasure{
  background-color: #fcc606;
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pt-pleasure-font{
  color: #fcc606;
  }
.pt-pleasure-pin{
      background-color: #fcc606;
      }

.pt-active{
  background-color: #4ea1d9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pt-active-font{
  color: #4ea1d9;
  }
.pt-active-pin{
        background-color:  #4ea1d9;
        }

.pt-culture{
  background-color: #ea5152;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.pt-culture-font{
  color: #ea5152;
  }
.pt-culture-pin{
    fil: #ea5152;
    }


    @media only screen and (max-width: 970px) {


      .pt-culture, .pt-active, .pt-pleasure, .pt-nature{

          border-radius: 6px;

    }}
/************ Preview-Box / accordion ***************/



.pt-preview-bg-pos{
 background-position: right center;
}

.pt-preview-wrapper{
  position: absolute;
  background-color: #fff;
  width:55%;
  margin-left: 15%;
  bottom: 8%;

  display: table;
  color: #191919;
border-radius: 6px;
min-width: 370px;
max-width: 500px;

}

.pt-preview-default{
  margin: 20px;
  /*background-color: #fff;*/
  width:60%;
  margin-left: 15%;
  margin-top: 40%;
color: #fff;
}

@media only screen and (max-width: 1024px) {
.pt-preview-wrapper{

  margin-top: 85%;

}
}

.pt-opacity{

 background-color: #000;
 width:100%;
 height: 100%;
 padding: 0;
 text-align: center;


}


.accordion {
    /*background-color: #eee;*/

    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    color: #fff;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: normal;
}
.accordion::after{
  content: url(../img/icons/close.svg);
  transform: scale(.3) rotate(45deg);
  display: block;
  margin-top: -42px;
  margin-bottom: -18px;
  margin-left: 90%;
}
 .accordion:hover{

   font-weight: bold;
 }
 .active{

      font-weight: bold;


     /**/
 }
.active::after {
content: url(../img/icons/close.svg);
  transform: scale(.3)  rotate(0deg);

}

.panel {
    padding:18px;
    margin-top: -3px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

}

.panel-img{
width:100%;
padding-bottom: 20%;
padding-top:20%;
background-size: cover;
text-align: center;
letter-spacing: -0.5px;
background-position: right center;

}

/********** Highlights  **************/

.pt-highlight-shadow{

      -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.pt-highlight-shadow:hover{

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.pt-highlights-link{

  color: #f77c04;
  padding-top: 10px;
  font-size: 16px;

}

.pt-highlights-divider::after{
    content: url(../img/graphics/highlight-divider-aft.png);

margin-left: 15px;


}
.pt-highlights-divider::before{
  content: url(../img/graphics/highlight-divider-bef.png);

margin-right: 15px;

}

.pt-title-divider::after{
  content: url(../img/graphics/title-divider.svg);
  display: block;
  margin-top: -40px;
  margin-bottom: -20px;
  transform: scale(.4);


}

@media only screen and (max-width: 800px) {



  .pt-title-divider::after{
  content: url(../img/graphics/title-divider.svg);
  transform: scale(.5);
  display: block;
  margin-top: -10px;

  }


}

@media only screen and (max-width:600px) {

  .pt-highlights-divider::after{
    content: url(../img/graphics/highlight-divider-mob.svg);
    transform: scale(.4);
    display: block;
    margin-top: 0px;
    margin-bottom: -25px;


  }
  .pt-highlights-divider::before{
    content: '';
  }


  .pt-title-divider::after{
    content: url(../img/graphics/title-divider.svg);
    transform: scale(.4);
    display: block;
    margin-top: -20px;

  }
}

@media only screen and (max-width: 480px) {
.pt-title-divider::after{
  content: url(../img/graphics/title-divider.svg);
  transform: scale(.6);

  margin-top: -10px;


}
.banner-title{
  font-size: 40px;
}
}

/**********Map*************/


.pt-map-pins {
    /**/fill-opacity:0.9;

    stroke:white;
    stroke-opacity:0.5;
    }

  .pt-map-pins:hover{
  width: 50px;
  cursor: pointer;
    stroke:white;
    stroke-width:1;
    stroke-opacity:0;
    /**/fill-opacity:1;

  }
.pt-list li{

    list-style: none;

}

.pt-legend-box{
  float: left;
  margin-top: -180px;
  margin-left: -20px;
  color: #a1a5a9;
}

.pt-legend{
  /**/background-repeat: no-repeat;
  background-position: left;
background-size: 17px;
font-weight: normal;
padding-left: 24px;

}
.ie11 img[src$=".svg"]{
  width: 20px;
  
}

/*********Gallery***********/


/* The Modal (background) */
.pt-modal_highlights {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
}

/* Modal Content */
.pt-modal-content-details {
  position: absolute;
height: 100%;
max-height: 620px;
width: 100%;
margin: auto;

padding:0 55px;

 top: 0; left: 0; bottom: 0; right: 0;
 overflow: auto;
}


.pt-mySlides {
  /*display: none;*/
 margin: auto;

max-width:800px;
width:100%;

  background-color: #fff;

}

.pt-highlight-modal-img{
/*max-height:350px;*/
  width: 100%;
  max-width: 800px;
  padding-top: 49%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.pt-highlight-modal-text{
/**/padding:15px 30px 30px;
}



.pt-iframe-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; // 16:9 ratio
  background-color:#000;
}

.pt-iframe-ratio iframe {  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

/* The Close Button */
.pt-close {

    position: absolute;
    background-size:16px;
    top: 0px;
    right: 0px;
    background-image: url('../img/icons/close-dark.svg');
    background-repeat: no-repeat;
    background-position: center center;
width: 55px;
height: 55px;
  background-color: #999;
  z-index:999;

}

.pt-close:hover,
.pt-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.pt-cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.pt-prev,
.pt-next {
  cursor: pointer;
  background-size:16px;


 top: 46%;

  position: absolute;
  /*margin-top: -50px;*/
  font-weight: bold;
width: 55px;
height: 100px;
  transition: 0.3s ease;

  user-select: none;
  -webkit-user-select: none;
  z-index:999;
display: none;
  background-color: #999;
}

/* Position the "next button" to the right */
.pt-next {
  right: 0;
  background-image: url('../img/icons/arrow-right-dark.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.pt-prev {
  left: 0;
  background-image: url('../img/icons/arrow-left-dark.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* On hover, add a black background color with a little bit see-through */
.pt-prev:hover,
.pt-next:hover {
  background-color: #fff;
}


@media only screen and (max-width: 650px) {
  .pt-prev,
  .pt-next {
      position: absolute;
    cursor: pointer;
    background-size:16px;
  top:100%;
   bottom: 50%;

    margin-top: -50px;
    font-weight: bold;
  width: 49.9%;
  height: 55px;
    transition: 0.3s ease;

    user-select: none;
    -webkit-user-select: none;
    z-index:999;
  display: none;
    background-color: #f2f5f7;

}
.pt-close {

  background-color: #f2f5f7;

}
.pt-modal-content-details {
  padding: 0;
bottom: 60px;
max-height: 450px;
}}

/* Number text (1/3 etc) */



.pt-demo {
  opacity: 0.6;
}

.pt-active,
.pt-demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.pt-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*************** Quiz *******************/

.pt-quiz-img{

  border: #fff 5px solid;
  cursor: pointer;
}

.pt-quiz-img:hover{

  border: #fa902a 5px solid;
}

@media only screen and (max-width: 600px) {
  .pt-quiz-img{
    border: #fff 3px solid;}

    .pt-quiz-img:hover{
      border: #fa902a 3px solid;
    }
}

/************ hide map *************/
@media only screen and (max-width: 970px) {
  .pt-mob-hide{display: none;}
.pt-hidden{ display: block;}
}
